html,
body {
  height: 99%;
}
.fullScreen {
  text-align: center;
  align-items: Center;
  display: flex;
  flex-direction: column;
  height: calc(100%);
  width: 100%;
}

p.wp{
	color: #FFFFFF;
	font-size: 2em;
}

div#migong {
	min-height: 99%;
    height: 99%;
	width: 100%;
    /* border: 2px green solid; */
}
div#cover{
background:url(./?Aliens?Vegetables!/res/Cover-.png);
}

img#title {
width: 100%;
height: 40%;
}
div#mainDiv {
  background: url(../res/start.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
div#index {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 100%;
  /* border: 2px red solid; */
}
div#mainBox {
  background-image: url(../res/cover.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* border: 2px red solid; */
}
div.moveButton {
  width: 3em;
  height: 3em;
  border: 1px black solid;
  margin: 0.1em;
}
div#buttonPanle {
  width: 10em;
  height: 6em;
}
div#buttonMainPanle {
  width: 80%;
  height: 20%;
  margin-top: 20px;
}
div#mainPlace {
    max-width: 90%;
    width: 90em;
    height: 0;
    padding-bottom: 45%;
    /* border: 2px red solid; */
	margin: auto;
}

div#go {
  background: white;
  margin-right: auto;
  margin-left: auto;
}
div#back {
  background: white;
}
div#left {
  background: white;
}
div#right {
  background: white;
  /*border-style: none;*/
}
p#que {
  font-size: 1.5em;
  color: white;
}
div.seB {
  width: 25%;
  height: 30%;
  border: 2px white solid;
}

div.button {
  width: 2em;
  height: 2em;
  border: 2px black solid;
  background: url(#);
  background-size: cover;
  background-repeat: no-repeat;
}
div#player {
 width: 25%;
  height: 2.5em;
  border: 2px black solid;
}

.mgItem{
	width: 2%;
	height: 0;
	padding-bottom: 2%;
}

video::-webkit-media-controls-enclosure{ 
        display: none;
    }

div.hide {
  display: none;
}