@charset "UTF-8";
/* CSS Document */

#title{
    margin-left: 20%; 
    padding-left:-5%;
    padding-top: 7%;
    background-color:beige;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

.p{
    margin-left: 3.5em;
   font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
#home{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#div1 {
background-color: orange;

}
.galleries{
    float: left;
    background-color:yellowgreen;
    width: 20%;
    margin-left: 3%;
    transition: 500ms ease;
}
.profile {
    background-color: orange;
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 50px;
    margin-top: 2%;
    margin-right: 2%;
}
.g{
margin-left: 5%;
margin-top: 5%;
background-color: yellowgreen
}


.menu {
    background-color: lightpink;
    float:left;
    height:100vh;
    width:50px;
    position:fixed;
    opacity: 0.75;
    transition: 200ms ease;
   
} 

.nav{
  list-style:none;
padding:0px;
    Margin:0px;
display:flex;
    flex-direction: column;
    align-items:center;
    
}
.icon{
    width:100%
}

.navlink{
display:flex;
align-items:center;
height:5%;
text-decoration: none;
}
.navlink img{
    min-width: 20px;
    opacity: 1;
}
.text{
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    display:none;
    margin-left:0px;
    opacity: 1.0;
    }

.menu:hover{
     background-color: #FFB6C0;
    width:120px ;
}
.menu:hover .text{
display: block;

}
.c1 {
    float: left;
    background-color:yellowgreen;
    width: 42%;
    height: 50%;
    margin-left: 5%;
 
}
.c1 img{display: none}
.c1:hover.c1 img{display: block
        
    }
.coverimg{
display: none;
width: 100%;
height:auto;
float: none;
opacity: 0.5;
}
.galleries:hover .coverimg{
    display: block;
}
.iframe{
    width: 95%;
    height:800px
        
}
#explore{
    text-align: right;
    margin-right: 60px;
}
.m{
margin-top: 3em;
}

@media (min-width: 0px) and (max-width: 576px){
.galleries{
    float: left;
    background-color:yellowgreen;
    width: 44%;
    margin-left: 4%;
    
}
    .c1 {
    float: left;
    background-color:yellowgreen;
    width: 88%;
    height: 50%;
    margin-left: 10%;
    }
    #descript{
        margin:auto;
    }
}
